<div ng-include="'components/navbar/navbar.html'"></div>

<div class="account">
  <div class="makeCenter">
    <div class="md-whiteframe-z3">

      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Change Password
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

          <md-input-container>
            <label>Current Password</label>

            <input type="password" name="password" ng-model="user.oldPassword"
                     mongoose-error/>
            <p style="color:red" ng-show="form.password.$error.mongoose">
                  {{ errors.other }}
            </p>
          </md-input-container>

          <md-input-container>
            <label>New Password</label>

            <input type="password" name="newPassword" ng-model="user.newPassword"
                     ng-minlength="3"
                     required/>
            <p style="color:red"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
              Password must be at least 3 characters.
            </p>
          </md-input-container>

          <p style="color:red"> {{ message }} </p>

          <md-button class="md-raised md-primary" type="submit">Save changes</md-button>
        </form>
      </md-content layout-padding>

    </div>
  </div>
</div>