.leadsPortal .left right .md-whiteframe-z1

.allDeals {
	fill:#9999FF;
	padding-top:15px;
}

.selectedVerticals {
	fill:#0082CC;
}

.selectedCoords {
	fill:#00A2FF;
}

.descriptionClass {
	fill:#00517F;
}

.searchClass {
	padding-bottom:8px;
}

.dealDetails {
	word-break:break-all;
}

.dealTitle {
	fill:#00517F;
}

.dealResult {
	fill:#1F5C7F;
}

.dealComment {
	fill:#0082CC;
}

.dealInfo {
	fill:#00A2FF;
}

.dealVerticalName {
	fill:#0082CC;
}

.dealCompanyName {
	fill:#1F5C7F;
}

.dealPOCName {
	fill:#0082CC;
}

.dealPOCEmail {
	fill:#00517F;
}

.dealPOCPhoneNumber {
	fill:#00A2FF;
}

.dealCreated {
	fill:#1F5C7F;
}

.dealLastUpdatedOn {
	fill:#0082CC;
}

.dealAssignee {
	fill:#00A2FF;
}

.createUpdate {
	word-break:break-all;
}

.noUpdates {
	padding-bottom: 32px;
}

.noUpdates .noUpdatesAsOfNow {
	background:#fff;
	margin:20px;
	padding: 20px;
}

.editUpdate {
	padding-bottom: 32px;
}

.editUpdate .updateClass {
	background:#fff; 
	padding: 20px;
}

.editUpdate .updateClass .listClass {
	width:100%;
}

.editUpdate .updateClass .listClass

.updateTitle {
	fill:#00517F;
}

.upateSummary {
	fill:#00A2FF;
}

.updatePOCName {
	fill:#0082CC;
}

.updatePOCEmail {
	fill:#00517F;
}

.updatePOCPhoneNumber {
	fill:#00A2FF;
}

.updateNextActivity {
	fill:#00517F;
}

.updateNextActivityDate {
	fill:#00517F;
}

.updateCreated {
	fill:#0082CC;
}

.updateUpdated {
	fill:#0082CC;
}

