.leadsPortal .right {
	padding-right: 15%;
}

.leadsPortal .left {
	padding-left: 15%;
}

.leadsPortal md-toolbar {
	border-radius: 4px 4px 0px 0px;
}

.allVerticals {
	height: 275px;
	overflow-y: hidden;
	&:hover {
		overflow-y: auto;
	}
}

.leadsPortal .left right .md-whiteframe-z1

.allDeals {
	fill:#9999FF;
	padding-top:15px;
}

.selectedVertical {
	fill:#0082CC;
}

.selectedCoords {
	fill:#00A2FF;
}

.searchText {
	fill:#00517F;
}

.searchTextInput {
	padding-bottom:8px;
}

.dealDetails {
	word-break:break-all;
}

.dealDetails

.dealTitle {
	fill:#00517F;
}

.dealResultDone {
	fill:#1F5C7F;
}

.dealResultClear {
	fill:#1F5C7F;
}

.dealComments {
	fill:#0082CC;
}

.dealInfo {
	fill:#00A2FF;
}

.dealVerticalTitle {
	fill:#0082CC;
}

.dealCompanyName {
	fill:#1F5C7F;
}

.dealPOCName {
	fill:#0082CC;
}

.dealPOCEmail {
	fill:#00517F;
}

.dealPOCPhoneNumber {
	fill:#00A2FF;
}

.dealCreated {
	fill:#1F5C7F;
}

.dealUpdated {
	fill:#0082CC;
}

.dealAssignee {
	fill:#00A2FF;
}

.createUpdate {
	word-break:break-all;
}

.createUpdate .noUpdates {
	padding-bottom: 32px;
}

.createUpdate .noUpdates .noUpdatesAsOfNow {
	background:#fff; 
	margin:20px;
	padding: 20px;
}

.createUpdate .noUpdates .noUpdatesAsOfNow

.editUpdate {
	padding-bottom: 32px;
}

.editUpdate 

.whiteFrameClass {
	background:#fff; 
	padding: 20px;
}

.whiteFrameClass

.listClass {
	width:100%;
}

.listClass

.updateTitle {
	fill:#00517F;
}

.updateSummary {
	fill:#00A2FF;
}

.updatePOCName {
	fill:#0082CC;
}

.updatePOCEmail {
	fill:#00517F;
}

.updatePOCPhoneNumber {
	fill:#00A2FF;
}

.updateNextActivity {
	fill:#00517F;
}

.updateNextActivityDate {
	fill:#00517F;
}

.updateCreatedOn {
	fill:#0082CC;
}

.updateUpdatedOn {
	fill:#0082CC;
}

