.leadsPortal .right {
	padding-right: 15%;
}

.leadsPortal .left {
	padding-left: 15%;
}

.leadsPortal md-toolbar {
	border-radius: 4px 4px 0px 0px;
}

.allVerticals {
	height: 275px;
	overflow-y: hidden;
	&:hover {
		overflow-y: auto;
	}
}

.md-avatar1 {
	padding-top: 15px;
}

.searchTextInput {
	padding-bottom: 4px;
}

.wordBreak {
	word-break:break-all;
}

.wordBreak .noUpdates {
	padding-bottom: 32px;
}

.wordBreak .noUpdates .noUpdatesAsOfNow {
	background:#fff; 
	margin:20px;
	padding: 20px;
}

.editUpdate {
	padding-bottom: 32px;
}

.whiteFrameClass {
	background:#fff; 
	padding: 20px;
}

.listClass {
	width:100%;
}

.width {
	width:80%;
}

.width50 {
	width:50%;	
}

	