$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'admin/admin.scss';
@import 'leadsPortal/allDeals/allDeals.scss';
@import 'leadsPortal/cores/cores.scss';
@import 'leadsPortal/dashboard/dashboard.scss';
@import 'leadsPortal/deal/deal.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector