<div class="navbar navbar-inverse navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a href="/" class="navbar-brand" height="60px" style="padding-top: 0px;"><img src="../../assets/images/shaastra-logo.png" height="50px">Leads Portal Shaastra 2016</a>
      </div>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="isCore()" ng-class="{active: isActive('/cores')}"><a ui-sref="leadsPortalAdmin"><span class="glyphicon glyphicon-th-large"></span> Admin Panel</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p></li>

        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a ui-sref="leadsPortalDashboard"><span class="glyphicon glyphicon-dashboard"></span> Your Deals</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/allDeals')}"><a ui-sref="allDeals"><span class="glyphicon glyphicon-tasks"></span> All deals</a></li>

        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</div>
