<div ng-include="'components/navbar/navbar.html'"></div>
<div>
	<h1>Welcome to Leads portal</h1>

	<md-content>
    	<md-card>
	      	<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-click="dealModal()">
					Edit Deal
				</md-button>
	      	</div>
      		<md-card-content style="word-break:break-all">
        		<h2 class="md-display-1"> Deal Details </h2>
					<md-divider></md-divider>
				    <md-list>
					    <md-list-item class="md-3-line">
					    	<ng-md-icon icon="subject" style="fill:#2196F3" class="md-avatar" alt="deal-title-img"></ng-md-icon>
					        <div class="md-list-item-text">
						        <h3> Title </h3>
						        <p>{{ deal.title }}</p>
					        </div>
					    </md-list-item>
					    <md-list-item class="md-3-line">
					    	<ng-md-icon icon="description" style="fill:#689F38" class="md-avatar" alt="deal-summary-img"></ng-md-icon>
					        <div class="md-list-item-text">
						        <h3> Info </h3>
						        <p>{{ deal.info }}haksdhadaslkdjsakjfhaskfjalksfhalsfjaslkdfhasdjkfhsajkflhsakfjhsdfjkhakfjhasjkdlhaskdfjhaslkfhaskjdfhsaldfkjhaslfkjhsdaflkjashdfkasjdhflasujhaskjfdkjfhasjkdfhasdkljfhsadfkjhsdfkjashdfkjsadhfklajsdfhsdkjfhsadlkjfhasdklfhsdflkjasdhfkajsdhfasdkfjhasdkfjhsdaflasdjfhasdkjfasdhf</p>
					        </div>
					    </md-list-item>
					    <div layout="row">
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="work" style="fill:#D500F9" class="md-avatar" alt="deal-company-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> Company Name </h3>
							        <p>{{ deal.companyName }}</p>
						        </div>
						    </md-list-item>
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="account_box" style="fill:#795548" class="md-avatar" alt="deal-PoC-name-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> PoC's Name </h3>
							        <p>{{ deal.initialPointOfContactName }}</p>
						        </div>
						    </md-list-item>
					    </div>
					    <div layout="row">
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="email" style="fill:#651FFF" class="md-avatar" alt="deal-PoC-email-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> PoC's Email Id </h3>
							        <p>{{ deal.initialPointOfContactEmail }}</p>
						        </div>
						    </md-list-item>
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="phone" style="fill:#FF3D00" class="md-avatar" alt="deal-PoC-number-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> PoC's Phone Number </h3>
							        <p>{{ deal.initialPointOfContactNumber }}</p>
						        </div>
						    </md-list-item>
					    </div>
					    <div layout="row">
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="schedule" style="fill:#00695C" class="md-avatar" alt="deal-created-date-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> Created On </h3>
							        <p>{{ deal.createdOn | date: 'medium' }}</p>
						        </div>
						    </md-list-item>
						    <md-list-item class="md-3-line">
						    	<ng-md-icon icon="schedule" style="fill:#00695C" class="md-avatar" alt="deal-last-updated-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3> Last Updated On </h3>
							        <p>{{ deal.updatedOn | date: 'medium' }}</p>
						        </div>
						    </md-list-item>
					    </div>
				    </md-list>
				    <md-list>
			    		<h1 class="md-headline">Assigned to</h1>
			    		<div layout="row">
						    <md-list-item class="md-3-line" ng-repeat="person in deal.assignees">
						    	<ng-md-icon icon="assignment_ind" style="fill:#00695C" size="48" class="md-avatar" alt="deal-assignee-img"></ng-md-icon>
						        <div class="md-list-item-text">
							        <h3>{{ person.name }}</h3>
							        <p>{{ person.email }}</p>
							        <p>{{ person.rollNumber }}</p>
							        <p>{{ person.phoneNumber }}</p>
						        </div>
						    </md-list-item>
			    		</div>
					</md-list>
      		</md-card-content>
    	</md-card>
    </md-content>

	<md-content>
    	<md-card>
      		<md-card-content style="word-break:break-all">
		      	<div class="md-actions" layout="row" layout-align="end center">
					<md-button class="md-raised md-accent" ng-click="updateCreateModal()">
						Create Update
					</md-button>
		      	</div>
        		<h2 class="md-display-1"> Updates </h2>
					<md-divider></md-divider>
					<!-- <span ng-show="!(deal.updates.length)">No updates as of now</span> -->
					<div ng-hide="(deal.updates.length)" layout="column" layout-fill style="padding-bottom: 32px;">
						<md-whiteframe class="md-whiteframe-z1" style="background:#fff; margin:20px; padding: 20px;" layout layout-align="left center">
						    <span>No updates as of now</span>
						</md-whiteframe>
					</div>
					<div ng-show="(deal.updates.length)" layout="column" layout-fill style="padding-bottom: 32px;" ng-repeat="update in deal.updates">
				      	<div class="md-actions" layout="row" layout-align="end center">
							<md-button class="md-raised md-primary" ng-click="updateModal(update)">
								Edit this Update
							</md-button>
				      	</div>						
						<md-whiteframe class="md-whiteframe-z1" style="background:#fff; margin:20px; padding: 20px;" layout layout-align="left center">
						    <span>{{update}}</span>
						</md-whiteframe>
					</div>
			</md-card-content>
		</md-card>
	<md-content>

</div>
