<div ng-include="'components/navbar/navbar.html'"></div>

<div class="account">
  <div class="makeCenter">
    <div class="md-whiteframe-z3">

      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Forgot Password
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form class="form" name="form" ng-submit="forgotPassword(form)" novalidate>

          <md-input-container>
            <label>Enter Email Id</label>

            <input type="email" name="email" ng-model="reset.email"/>
          </md-input-container>

          <span style="color:red"> {{ message }} </span>

          <md-button class="md-raised md-primary" type="submit">Request reset</md-button>
        </form>
      </md-content>

    </div>
  </div>
</div>