<div ng-include="'components/navbar/navbar.html'"></div>

<div style="padding-left: 35%; padding-right: 35%; padding-top: 5%">

  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
      Change Password
    </h1>
  </md-toolbar>

  <md-content layout-padding>
    <form class="form" name="form" ng-submit="reset()" novalidate>

      <md-input-container ng-class="{ 'has-success': form.newPassword.$valid && submitted,
                                            'has-error': form.newPassword.$invalid && submitted }">
        <label>New Password</label>

        <input type="password" name="newPassword" ng-model="newPassword"
                 ng-minlength="3"
                 required/>
        <span style:"color:red"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least 3 characters
        </span>
        <span style="color:red" ng-show="form.password.$error.mongoose">
          {{ errors.other }}
        </span>
      </md-input-container>

      <md-input-container ng-class="{ 'has-success': form.confirmNewPassword.$valid && submitted,
                                            'has-error': form.confirmNewPassword.$invalid && submitted }">
        <label>Confirm New Password</label>

        <input type="password" name="confirmNewPassword" ng-model="confirmNewPassword"
                 required/>
        <span style="color:red"
             ng-show="(newPassword !== confirmNewPassword) && submitted">
            Passwords do not match
        </span>
      </md-input-container>

      <span style="color:red"> {{ message }} </span>

      <md-button class="md-raised md-primary" ng-disabled="(newPassword !== confirmNewPassword) || (newPassword === '') || (confirmNewPassword === '')" type="submit">Save changes</md-button>
    </form>
  </md-content>
</div>